RFE: Continuation References

Cloned from Pagure issue: https://pagure.io/389-ds-base/issue/36
- Created at 2012-01-04 19:22:12 by [mkosek](https://pagure.io/user/mkosek)
- Closed at 2019-08-23 22:18:25 as wontfix
- Assigned to nobody
- Associated bugzillas
  - https://bugzilla.redhat.com/show_bug.cgi?id=732127

---

https://bugzilla.redhat.com/show_bug.cgi?id=732127


    389 DS should implement "Continuation References in the Search Result" as is
    detailed in section 4.5.3 of RFC 4511.
    
    It's useful for example if you are replicating two subtrees with a common
    parent and you want to inform the client application that the whole tree is in
    another server.

**Comment from [rmeggins](https://pagure.io/user/rmeggins) (@richm) at [2012-01-10 06:05:46](https://pagure.io/389-ds-base/issue/36)**

batch update to FUTURE milestone

**Comment from [rmeggins](https://pagure.io/user/rmeggins) (@richm) at [2012-08-14 19:56:22](https://pagure.io/389-ds-base/issue/36)**

set default ticket origin to Community

**Comment from [nkinder](https://pagure.io/user/nkinder) (@nkinder) at [2012-08-28 04:14:25](https://pagure.io/389-ds-base/issue/36)**

Added initial screened field value.

**Comment from [rmeggins](https://pagure.io/user/rmeggins) (@richm) at [2017-02-11 23:01:09](https://pagure.io/389-ds-base/issue/36)**

**Metadata Update from @richm**:
- Issue set to the milestone: FUTURE

**Comment from [mreynolds](https://pagure.io/user/mreynolds) (@mreynolds389) at [2019-08-23 22:18:26](https://pagure.io/389-ds-base/issue/36)**

**Metadata Update from @mreynolds389**:
- Custom field reviewstatus adjusted to None (was: Needs Review)
- Issue close_status updated to: wontfix
- Issue status updated to: Closed (was: Open)